{% extends "base.html" %}
{% block title %}Admin – Inventory{% endblock %}
{% block content %}
  <h2>Inventory Status</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for i in inventory %}
      <tr>
        <td>{{ i.product_id }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}